*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    line-height: 1.5;
}
h1, h2, h3, h4{
    font-family: Arial, Helvetica, sans-serif;
    color: #AE053E;
}
h1{
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: .1rem;
}